# API模式配置（可选，本地模式不需要）
OPENAI_API_KEY=sk-xxxx

# 本地模式配置
MODEL_NAME=Qwen/Qwen2.5-7B-Instruct
MODEL_PATH=./models/Qwen2.5-7B-Instruct
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
EMBEDDING_MODEL_PATH=/

DEVICE=auto

USE_RAG=false

DATA_DIR=./dataset
LOG_DIR=./logs
CHROMA_DB_DIR=./chroma_db_local
TEST_FILE=./dataset/test_long.docx

LLM_QUANTIZATION=false
